#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: logo-spin infinite 2s linear;
  padding-right: 10px;
}


.card {
  padding: 0.25em;
}

.read-the-docs {
  color: #888;
}

.error {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}
.success {
  color: green;
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}
.label {
  font-size: 0.8em;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.15em;
}
.error-success-p {
  margin: 0.1em;
  padding: 0;
}